.app_dark_theme {
    --bg-color: #001c98;
    --invert-bg-color: #00115b;

    --primary-color: #ec8a1a;
    --secondary-color: #e5a863;
    --invert-primary-color: #964eda;
    --invert-secondary-color: #b284dd;
}