:root {
    --bg-color: #cccccc;
    --invert-bg-color: #964eda;

    --primary-color: #964eda;
    --secondary-color: #b284dd;
    --invert-primary-color: #ec8a1a;
    --invert-secondary-color: #e5a863;
}
